article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: 700;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: \201C \201D \2018 \2019;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button,
input {
    line-height: normal;
}
button,
html input[type=button],
/* 1 */

input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body,
figure {
    margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Playfair Display', 'La Belle Aurore', 'Oswald', sans-serif;
}
.container {
    max-width: 1267px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}
p {
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 0;
    align-items: center;
    font-size: 20px;
}
img {
    width: 100%;
    display: block;
    max-width: 100%;
}
a {
    text-decoration: none;
    color: white;
}
/*header*/

header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.4) 50%), url(./hero.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    width: 30%;
}
.logo img {
    width: 140px;
}
.hamburger {
    margin-right: 1%;
    margin-left: 1%;
}
ul {
    justify-content: space-between;
    margin-left: 20%;
    width: 70%;
}
ul li {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 0 5px;
}
ul li a {
    padding: 10px 17px;
    transition: background 0.3s ease;
}
ul li,
.hamburger {
    color: white;
}
.menu li a:hover {
    color: white;
    padding: 10px 15px;
    border: 2px solid white;
    background: #853038;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 47px;
}
.dropDownMenu {
    visibility: hidden;
    display: none;
}
.hamburger {
    display: none;
}
/*=====main title======*/

.mainTitle {
    color: white;
    text-align: center;
    margin-top: 35vh;
}
h1 {
    font-family: "Oswald", sans-serif;
    font-size: 66px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 300;
}
.romanceCopy {
    font-family: 'La Belle Aurore', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 36px;
}
.descriptionCopy {
    padding: 0;
    margin: 0;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 300;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-top: 11px;
}
/* Portrait tablet and small desktops */

@media (max-width: 1000px) {
    ul {
        margin-left: 0;
    }
}
/* Landscape phone to portrait tablet */

@media (max-width: 873px) {
    h1 {
        font-size: 50px;
    }
    .romanceCopy {
        font-size: 27px;
    }
    .descriptionCopy {
        font-size: 16px;
    }
    /*=====nav======*/
    
    .menu {
        display: none;
    }
    .hamburger {
        margin: 0;
        margin-right: 1%;
        font-size: 29px;
        cursor: pointer;
        display: flex;
    }
    .logo {
        width: 45%;
        margin-left: 20px;
    }
    ul li {
        margin-bottom: 5px;
        font-size: 23px;
    }
    ul li a {
        padding: 0;
        transition: border 0.4s ease;
    }
    .dropDownMenu li a:hover {
        padding: 0;
        border: 0;
    }
    .dropDownMenu li a:hover {
        color: white;
        border-bottom: 2px solid white;
    }
    .dropDownMenu {
        justify-content: start;
        flex-direction: column;
        position: absolute;
        top: 100px;
        bottom: 33px;
        visibility: visible;
        right: 3%;
        align-items: flex-end;
        width: 122px;
        display: flex;
        height: 233px;
        background: #873137;
        animation: fadein 0.6s;
    }
  
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
      .dropDownMenu {
        display: none;
    }
  }
    /* Landscape phones and down */
    
    @media (max-width: 480px) {
        h1 {
            font-size: 38px;
            margin: 20px;
        }
        .romanceCopy {
            font-size: 20px;
        }
    }